
/*reset user agent stylesheets, add custom responsive grid, import fonts*/
@import './base/html5reset.css' screen;
@import './base/base.css' screen;
@import './base/responsive.css' screen;
@import './base/fonts.css' screen;


/*import this for videojs*/
@import './base/video-js.min.css' screen;
@import './base/videojs-skin-colors.css' screen;


/*FLEXBOX*/
.flex {
  display: flex;
}


.cntrd {
  position: relative;
  margin: 0 auto;
}


/*ACCESSIBILITY*/
.visuallyhidden {
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.domhidden {
  display: none;
}


/*RESPONSIVE WRAPPERS*/

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


.art-1up-cols {
  width: 100%;
}

.art-2up-cols {
  width: 49.2%;
}

.art-3up-cols {
  width: 32.26%;
}

@media only screen and (max-width: 767px) {
  .col {  margin: 1% 0 1% 0%; }

  .art-1up-cols,
  .art-2up-cols,
  .art-3up-cols {
    width: 100%;
  }
}




/*FIGURE HOVER PHOTO LAYOUT*/
figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
}


.audio-rec-tool-txt {
  height: 170px;
  margin: 0;
  background-color: #eee;
  border-top:3px solid hsla(316, 77%, 26%, 1);
}


.audio-rec-tool-txt > audio {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5px auto;
  padding: 2px;
}




/*VIDEO WRAPPERS*/
.vidbak {
  background-color: #efefef;
  border-bottom: 3px solid #fff;
}

.video-js {
  margin: .5rem auto 0;
}


/*MEDIA TRANSCRIPT WRAPPER*/
.media-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}


/*SELECT ANSWER LINK*/
.audio-select {
  width: 110px;
  height: 30px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(hsla(316, 77%, 37%, 1), hsla(316, 88%, 26%, 1));
  border: none;
  border-radius: 0 0 5px 5px;
  color: #fff;
  cursor: pointer;
  font-size: .75rem;
  text-decoration: none;
}

.audio-select:link {
  color: #fff;
}

.audio-select:hover {
  color: #fff;
  background: radial-gradient(hsla(316, 77%, 26%, 1), hsla(316, 88%, 15%, 1));
}

.audio-select:focus {
  color: #fff;
  background: radial-gradient(hsla(316, 77%, 26%, 1), hsla(316, 88%, 15%, 1));
}

.audio-select:active {
  color: #fff;
  background: radial-gradient(#f37f2f, #f54b32);
}

.arrow-toggle {
  color: #fff;
  fill: currentColor;
  transform: rotate(0deg);
  transition: transform 1s;
}


/*TRANSCRIPT TOGGLE*/

.transcript-icon {
  width: 10px;
  height: 10px;
  margin-right: 0.25em;
  fill: currentColor;
}

.transcript-icon:hover {
  fill: currentColor;
}

.transcript-icon:focus {
  fill: currentColor;
}

.transcript-icon:active {
  fill: currentColor;
}

.transcript-toggle {
  display: flex;
  align-items: center;
  width: 8em;
  height: 30px;
  margin: 0;
  padding: 0 1em 0 0.5em;
  background: #fff;
  border-top-width: 2px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: solid;
  border-color: hsla(259, 40%, 40%, 0);
  border-radius: 0;
  color: #777;
  cursor: pointer;
  font-size: 0.75rem;
}

.transcript-toggle:hover {
  color: hsla(259, 40%, 40%, 1);
  border-top-color: hsla(259, 40%, 40%, 1);
}

.transcript-toggle:focus {
  color: hsla(259, 40%, 40%, 1);
  border-top-color: hsla(259, 40%, 40%, 1);
}


.transcript-toggle:active {
  color: #fff;
  background: radial-gradient(hsla(327, 100%, 45%, 1), hsla(327, 100%, 35%, 1));
  border-top-color: hsla(327, 100%, 25%, 1);
}

.transcript-toggle > span {
  padding-left: 0.15em;
}


/*OVERALL CONTAINER FOCUS STYLES*/

.media-nav *:focus {
  outline: 0;
}

.container--has-focus *:focus {
  outline-offset: 2px;
  outline: 2px dotted #573d8f;
  outline-offset: 0.2em;
  z-index: 1;
}
